body {
  background: url("https://wallpapertag.com/wallpaper/full/e/9/1/423058-new-matrix-wallpaper-hd-1920x1080-ios.jpg");
  margin: 0px;
  color: silver;
}
h6 {
  font-size: .8em;
}
.inside {
  padding-left: 50px;
  padding-right: 50px;
}
.title {
  text-align: center;
}
.foot {
  padding-left: 10px;
  padding-right: 10px;
}
.copyright {
  text-align: right;
}
a {
  color: silver;
  text-decoration: none;
  margin-right: 5px;
}
a:hover {
  background: blue;
  text-decoration: underline;
}
#wrapper {
  background: grey
}
